{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


<div class="container">
  <div class="card">
   <div class="card-header">
    <h3>Welcome</h3>
   </div>
   <div class="card-body">

         {% if app.user %}

          <h1>{{app.user.username}}</h1>
                 <div class="row col-md-6 col-lg-6">
                <a href="{{path('app_logout')}}" class="btn btn-danger">Logout</a>
            </div>
        {% else %}
            <div class="row col-md-6 col-lg-6">
                <a href="{{path('app_login')}}" class="btn btn-primary">Login</a>
            </div>
            <div class="row col-md-6 col-lg-6 mt-2">
               <a href="{{path('app_register')}}" class="btn btn-primary">Register</a>
            </div>

        {% endif %}

   </div>
  </div>
</div>
{% endblock %}
